/*评论与留言*/
.blog-comment {
    position: relative;
    margin-bottom: 10px;
}

.blog-comment li {
    border-bottom: 1px dotted #01AAED;
    padding: 15px 0 10px 0;
}

.blog-comment .content,
.blog-comment .info {
    margin-left: 53px;
}

.blog-comment .info-footer {
    font-size: 13px;
}

.blog-comment .info
{
    padding-top: 5px;
}
.blog-comment .replycontainer {
	margin-top:10px;
    margin-bottom:10px;
}

.blog-comment .replycontainer button{
	margin-top:10px;
}

.blog-comment .info span {
    padding-right: 5px;
}

.blog-comment .info .layui-badge {
    margin-right: 5px;
}

.blog-comment .info span a:hover {
    text-decoration: underline;
}

.blog-comment .info .username a {
    color: #01AAED;
}

.blog-comment .info .btn-reply {
    color: #009688;
}

.blog-comment .content {
    padding: 5px 0;
    min-height: 30px;
    font-size: 14px;
}

.blog-comment hr {
    margin-left: 53px;
}

.blog-comment i {
    font-size: 12px;
    margin-right: 2px;
}

.blog-comment .layui-extend-liulanqi {
    font-size: 11px;
}

.comment-parent > a > img {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-child > a > img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-child {
    margin-left: 53px;
    min-height: 50px;
}

.comment-child .info {
    margin-left: 48px;
    font-size: 13px;
    line-height: 20px;
}

.comment-child .info .to-username {
    color: #01AAED;
    font-weight: bolder;
    margin-left:5px;
}

.comment-text {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.comment-text a {
    color: #1E9FFF;
    font-weight: bold;
}

.comment-text a:hover {
    text-decoration:underline;
}

.aux-word {
    margin-right: 3px;
    color:#555;
}

.emoji_icon {
    width:25px;
}
/*评论与留言END*/
