{{define "web-posts"}}
<section class="container">
    <!-- InstanceBeginEditable name="EditRegion1" -->

    <link href="/static/front/css/Article.css" rel="stylesheet"/>

    <div class="layui-container">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md9 layui-col-sm12 layui-col-xs12 post-area">
                <div id="single-list">

                </div>
                <div id="page" class="wow rotateInDownLeft"></div>
            </div>

            <div class="layui-col-md3 layui-col-sm12 layui-col-xs12">
                <div class="card search wow flipInY" data-wow-delay="0.5s">
                    <i id="search" class="layui-icon layui-icon-search"></i>
                    <input id="keyword" type="text" autocomplete="off" placeholder="Search..." class="layui-input">
                </div>
                <div class="card lmNav">
                    <h2 class="side-title">栏目分类</h2>
                    <ul>
                        {{range .Series}}
                        <li>
                            <a href="#">
                                <div class="layui-row">
                                    <div class="layui-col-xs10 layui-elip" data-id="{{.ID}}">{{.Name}}</div>
                                    <div class="layui-col-xs2"><span class="layui-badge-rim">16</span></div>
                                </div>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                <div class="card paihang">
                    <h2 class="side-title">热门文章</h2>
                    <ul>
                        <li>
                            <span class="layui-badge">1</span>
                            <a href="#">
                                SQL Server之使用SQL语句管理数据库（重命名、分离、附加、删除）
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card suiji">
                    <h2 class="side-title">猜你喜欢</h2>
                    <ul>
                        <li>
                            <a href="#">
                                SQL Server之使用Alter Database修改数据库
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-hide">
        <input id="ArticleListCount" type="text" value="89">
        <input id="CategoriesId" type="text">
    </div>

    <script src="/static/front/js/Article.js"></script>

    <!-- InstanceEndEditable -->
</section>

{{end}}
